.navbar {
  padding: 0.5rem 1rem;
}

.nav-link {
  font-weight: 500;
  color: white;
}

.nav-link:hover {
  color: #6c757d;
}

.nav-link.active {
  color: purple;
}

/*---------------------
  Logo
-----------------------*/
.logo {
  background: #100028;
  padding: 20px 20px;
}

.logo svg {
  width: 24px;
  height: 24px;
}

.navbar-nav .nav-item {
  margin-left: 15px;
}

.navbar-nav .dropdown-toggle::after {
  display: none;
}

@media (max-width: 992px) {
  .navbar-nav .nav-item {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}

.header {
  transition: top 7s ease-in-out;
  position: relative;
  width: 100%;
  background: #01204e;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9); /* Start with transparent background */
  color: white;
  transform: translateY(-100%);
  transition:
    background-color 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.fixed.scrolled {
  background-color: rgba(0, 0, 0, 1); /* Full background color */
  transform: translateY(0);
}
