<div>
  <!-- Breadcrumb Begin -->
  <div
    class="breadcrumb-option spad set-bg"
    dataSetbg="../../../assets/img/breadcrumb-bg.jpg"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="breadcrumb__text">
            <h2>Portfolio</h2>
            <div class="breadcrumb__links">
              <a href="#">Home</a>
              <span>Portfolio</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- src/app/pages/home/home.component.html -->
  <app-gallery></app-gallery>

  <!-- Portfolio Section End -->
</div>
