<div class="home">
    <section class="hero-section">
        <div class="hero">
            <div class="parallax-layer layer-6"></div>
            <div class="parallax-layer layer-5"></div>
            <div class="parallax-layer layer-4"></div>
            <div class="parallax-layer bike-1"></div>
            <div class="parallax-layer bike-2"></div>
            <div class="parallax-layer layer-3"></div>
            <div class="parallax-layer layer-2"></div>
            <div class="parallax-layer layer-1"></div>
            <div class="logo">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/logo.svg" alt=""  />
            </div>
          </div>
    </section>
    <section class="work">
        <app-filter-menu></app-filter-menu>
        <app-gallery></app-gallery>
    </section>
</div>