<div class="home">
    <section class="hero">
        <div class="hero-text-container">
            <div class="words word-1">
                <span>C</span>
                <span>O</span>
                <span>D</span>
                <span>E</span>
                <span>P</span>
                <span>E</span>
                <span>N</span>
            </div>

            <div class="words word-2">
                <span>I</span>
                <span>S</span>
            </div>

            <div class="words word-3">
                <span>C</span>
                <span>O</span>
                <span>O</span>
                <span>L</span>
            </div>
        </div>
        <div class="video-container">
            <video autoplay muted loop>
                <source src="../../../assets/videos/mixkit-stars-in-space-background-1610-4k.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="content">
            </div>
        </div>
    </section>
    <section class="work">
        <app-filter-menu></app-filter-menu>
        <app-gallery></app-gallery>
    </section>
</div>