<div class="home">
    <section class="hero">
        <div class="video-container">
            <video autoplay muted loop>
                <source src="../../../assets/videos/mixkit-stars-in-space-background-1610-4k.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="content">
                <h1>Welcome to [Your Name]'s Videography Portfolio</h1>
                <p>Hi there! I'm [Your Name], a passionate videographer specializing in capturing life's most precious
                    moments. With a keen eye for detail and a love for storytelling, I strive to create cinematic
                    masterpieces that evoke emotions and leave a lasting impression.</p>
            </div>
        </div>
    </section>
</div>