.sorting-controls {
    margin-bottom: 20px;
    text-align: center;
    color: white;
  }

  .sorting-controls label {
    margin-right: 10px;
  }

  .sorting-controls select {
    padding: 5px;
    font-size: 14px; /* Adjust font size as needed */
    border: 1px solid #ccc; /* Optional: add border for better visibility */
  }
