<div
  class="container-lg"
  style="
    display: flex;
    align-content: center;
    justify-content: center;
  "
>
  <ul class="gallery-container">
    <li
      *ngFor="let video of videos; let i = index"
    >
      <div class="position-relative">
        <app-gallery-item
        [videoRouterLink]="['/video-detail']" [queryParams]="{ url: video.videoUrl }"
          thumbnailSrc="{{ video.thumbnail }}"
          [thumbnailCaption]="video.thumbnailCaption"
        ></app-gallery-item>
      </div>
    </li>
  </ul>
</div>
