<!-- Footer Section Begin -->

<div class="container-fluid footer mt-5">
    <div class="justify-content-center align-items-center" style="display: flex;
    flex-direction: column;
    gap: 20px;">
        <div class="row">
            <div class="footer-site-info">{{currentYear}} © <a href="#" target="_blank">Himanshu </a></div>
        </div>
        <div class="row">
            <div id="footer-socials">
                <div class="socials inline-inside socials-colored">
                    <a href="#" class="socials-item" title="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="socials-item" title="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="socials-item" title="dribbble"><i class="fa fa-dribbble"></i></a>
                    <a href="#" class="socials-item" title="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="socials-item" title="youtube"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Footer Section End -->