<footer class="footer">
  <ul class="social-icon">
    <li class="social-icon__item">
      <a class="social-icon__link" href="#">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>
    </li>
    <li class="social-icon__item">
      <a class="social-icon__link" href="#">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
    </li>
    <li class="social-icon__item">
      <a class="social-icon__link" href="#">
        <fa-icon [icon]="faYoutube"></fa-icon>
      </a>
    </li>
    <li class="social-icon__item">
      <a class="social-icon__link" href="#">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
    </li>
  </ul>
  <p>&copy;2024 | All Rights Reserved</p>
</footer>
