/* video-thumbnail.component.css */
.thumbnail {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    position: relative;
    width: 45vw; /* Set a responsive width */
    height: 30vh; /* Set a responsive height */
    overflow: hidden; /* Ensure content stays within the bounds */
}

.thumbnail img,
.thumbnail video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.thumbnail video {
    opacity: 0; /* Hide video initially */
}

@media (max-width: 768px) {
    .thumbnail {
        width: 80vw; /* Adjust width for smaller screens */
        height: 45vh; /* Adjust height for smaller screens */
    }
}

@media (max-width: 480px) {
    .thumbnail {
        width: 100vw; /* Adjust width for very small screens */
        height: 56.25vh; /* Maintain aspect ratio (16:9) for very small screens */
    }
}
